/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-block: 32px;
  font-size: 13px;
  -webkit-transition: -webkit-box-shadow var(--transition-time);
  transition: -webkit-box-shadow var(--transition-time);
  -o-transition: box-shadow var(--transition-time);
  transition: box-shadow var(--transition-time);
  transition:
    box-shadow var(--transition-time),
    -webkit-box-shadow var(--transition-time);
  background-color: var(--bg-color);
  z-index: var(--layer-2);
}

.header--fixed {
  -webkit-box-shadow: 0 0 20px var(--shadow-color);
  box-shadow: 0 0 20px var(--shadow-color);
  overflow-y: hidden;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: all var(--transition-time);
  -o-transition: all var(--transition-time);
  transition: all var(--transition-time);
}

@media (width >768px) {
}

.logo__img {
  vertical-align: -webkit-baseline-middle;
}

@media (width > 768px) {
  .header__logo {
    margin-right: clamp(25px, -9.006rem + 18.34vw, 120px);
  }
  .header__menu {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
}

@media (width <= 768px) {
  .header__logo {
    -ms-flex-negative: 0;
    flex-shrink: 0;
  }

  .header__menu {
    position: fixed;
    padding: 144px 15px 20px 0;
    right: -100vw;
    top: 0;
    bottom: 0;
    -webkit-box-shadow: 0 0 20px var(--shadow-color);
    box-shadow: 0 0 20px var(--shadow-color);
    background: var(--bg-color);
    min-width: 297px;
    z-index: var(--layer-2);
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all var(--transition-time);
    -o-transition: all var(--transition-time);
    transition: all var(--transition-time);
  }

  .header__menu--open {
    opacity: 1;
    visibility: visible;
    right: 0;
  }

  .header__menu .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 20px;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: end;
  }
}

.header__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (width > 922px) {
  .header__controls {
    gap: 60px;
  }
}

@media (width <= 922px) {
  .header__controls {
    gap: 30px;
  }
}

.header__order {
  font-weight: 400;
  color: var(--accent-color);
  padding-bottom: 5px;
  border-bottom: 1px solid var(--accent-color);
  position: relative;
}

.header__order::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90%;
  min-height: 11px;
  background-color: var(--accent-color);
  -webkit-filter: blur(30px);
  filter: blur(30px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all var(--transition-time);
  -o-transition: all var(--transition-time);
  transition: all var(--transition-time);
}

@media (any-hover: hover) {
  .header__order:hover::before {
    opacity: 1;
    visibility: visible;
  }
}

.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (width >768px) {
  .header__actions {
    gap: 20px;
  }
}

@media (width <=768px) {
  .header__actions {
    gap: 30px;
  }
}

.header__actions-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 24px;
  height: 24px;
  color: var(--main-color);
  -webkit-transition: color var(--transition-time);
  -o-transition: color var(--transition-time);
  transition: color var(--transition-time);
  color: var(--main-color);
}

@media (any-hover: hover) {
  .header__actions-button:hover {
    color: var(--accent-color);
  }
}

.header__actions-button:active {
  color: var(--accent-color);
}

.header__actions-icon {
  stroke: currentColor;
}
