.about {
  background-color: var(--bg-color-2);
  color: var(--bg-color);
}
.about__container {
  --container-width: 1920px;
}
.about__tabs {
  /* min-width 768px max-width 1910px  */
  padding-top: clamp(80px, 1.667rem + 6.94vw, 160px);
  padding-bottom: clamp(110px, 1.667rem + 6.94vw, 238px);
}

.about__tabs {
  display: flex;
  /* min-width 768px max-width 1910px  */
  gap: clamp(50px, -7.958rem + 23.09vw, 316px);
}

@media (width <=768px) {
  .about__tabs {
    flex-direction: column;
    align-items: center;
  }
}

.about__tabs-list {
  position: relative;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  max-width: 456px;
  /* min-width 768px max-width 1910px  */
  margin-left: clamp(50px, -9.292rem + 25.87vw, 348px);
}

.about__panel {
  display: none;
}

.about__tab {
  display: block;
  opacity: 0.3;
  white-space: nowrap;
}

.about__tab--active {
  opacity: 1;
}
.about__tab--active::before {
  content: "";
  display: block;
  position: absolute;
  left: -17%;
  z-index: var(--layer-negative);
  /* min-width 768px max-width 1910px  */
  width: clamp(65px, 0.729rem + 6.94vw, 145px);
  height: clamp(65px, 0.729rem + 6.94vw, 145px);
  background-color: var(--accent-color);
  border-radius: 100px;
}

.about__panel {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 468px;
  /* display: none; */
}

.about__panel[hidden] {
  display: none;
}

.about__item-title {
  font-size: 30px;
  margin-bottom: 10px;
}
.about__item-text {
  color: var(--text-color);
  font-family: var(--second-family);
  line-height: 1.69;
}
.about__stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  border-top: 2px solid #000;
  border-left: 2px solid #000;
}

.about__stat {
  /* min-width 768px max-width 1910px  */
  padding-top: clamp(40px, 1.12rem + 5.89vw, 131px);
  padding-bottom: clamp(50px, 1.441rem + 7.18vw, 161px);
  background-color: var(--bg-color-2);
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

.about__stat > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about .about__stat-value {
  margin-bottom: 12px;
}
.about__stat-label {
  font-family: var(--second-family);
  font-size: 20px;
  line-height: 1.35;
}
