.locations {
}
.locations__container {
  background-color: white;
  color: var(--bg-color);
}
.container {
}

.locations__accordion {
  --container-width: 1212px;
  width: min(var(--container-width), 100% - var(--container-padding) * 2);
  margin-inline: auto;
  padding-top: clamp(60px, 2.37rem + 5.89vw, 151px);
  padding-bottom: clamp(70px, 2.221rem + 9.19vw, 121px);
}

.locations__title {
  margin-bottom: 60px;
}
.title-sm {
}

.accordion {
}

.accordion__item {
  padding-block: 29px;
  border-bottom: 1px solid var(--bg-color);
}

.accordion__item:first-of-type {
  border-top: 1px solid var(--bg-color);
}

.accordion__summary {
  display: grid;
  grid-template-columns: max-content 1fr auto;
  column-gap: clamp(1rem, -1.182rem + 10.91vw, 7rem);
  /* column-gap: clamp(2.5rem, 1.423rem + 4.6vw, 6.938rem); */
}

/* .accordion__item.is--open .accordion__content-inner {
  padding-top: 16px;
} */

.locations__hours {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}
.locations__name {
  font-family: var(--second-family);
  font-size: 30px;
  line-height: 0.9;
  font-weight: 700;
  position: relative;
  isolation: isolate;
}

.locations__name::before {
  z-index: var(--layer-negative);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-77%, -50%);
  content: "";
  display: block;
  /* width: clamp(2rem, 1.59rem + 1.75vw, 3.688rem); */
  width: 59px;
  aspect-ratio: 1;
  background-color: var(--accent-color);
  border-radius: 50%;
  opacity: 0;
  transition: var(--transition-time) opacity;
}

.accordion__item.is--open .locations__name::before {
  opacity: 1;
}

.accordion__icon {
  transition: transform var(--transition-time);
}

.accordion__item.is--open .accordion__icon {
  transform: rotateZ(90deg);
}

.accordion__content {
  display: grid;
  grid-template-rows: 0fr;
  opacity: 0;
  transition:
    var(--transition-time) grid-template-rows,
    var(--transition-time) opacity;
}

.accordion__content-inner {
  overflow: hidden;
  min-height: 0;
}

.accordion__item.is--open .accordion__content {
  /* padding-top: 16px; */
  /* margin-top: 16px; */
  grid-template-rows: 1fr;
  opacity: 1;
}

.accordion__content-body {
  display: flex;
  margin: 2em 3em 0;
  justify-content: start;
}

/* .accordion__item.is--open {
  padding-bottom: 0;
} */