.menu {
}
.menu__list {
  display: flex;
  /* min-width 1024px, max-width 1710px */
  gap: clamp(30px, 0.009rem + 2.915vi, 50px);
  font-family: var(--second-family);
  /* min-width 1024px, max-width 1710px */
  font-size: clamp(20px, 1.063rem + 0.292vi, 22px);
}
.menu__item {
  position: relative;
  transition: background-color var(--transition-time);
}

