.product__container {
  position: relative;
  display: flex;
  gap: clamp(30px, 0.26rem + 6.89vw, 122px);
  background: url("../../img/product-slider/decor.svg") 69% 10%;
  background-repeat: no-repeat;
}

@media (width >768px) {
  .product__container {
    padding-top: 143px;
    padding-bottom: 179px;
  }
}

@media (width <=1110px) {
  .product__container {
    flex-direction: column;
  }
}

@media (width <=768px) {
  .product__container {
    padding-top: 70px;
    padding-bottom: 90px;
    gap: 20px;
  }
}

.product__content {
  /* margin-left: 318px; */
  /* min-width 768px max-width 1710px */
  margin-left: clamp(0px, -16.204rem + 33.76vw, 318px);
  flex: 1 1 501px;
}
.product__title {
  margin-bottom: 17px;
}

.product__title-accent {
  color: var(--accent-color);
}
.product__subtitle {
  font-size: 30px;
  margin-bottom: 10px;
}

.product__text {
  font-family: var(--second-family);
  font-weight: 400;
  line-height: 1.69;
  color: var(--text-color);
  max-width: 468px;
  margin-bottom: 40px;
}

@media (width <= 1110px) {
  .product__text {
    max-width: 80%;
  }
}

.product__text:last-of-type {
  /* min-width 1110px max-width 1710px */
  margin-bottom: clamp(55px, -2.113rem + 8vw, 103px);
}

@media (width <=768px) {
  .product__content {
    grid-column: 1 / -1;
  }
}

.product__slider {
  /* max-height: 679px; */
}

.product__slider-shell {
  position: relative;
  max-height: 100%;
  height: 100%;
}

@media (width <= 1110px) {
  .product__slider-shell {
    display: flex;
    justify-content: space-between;
    align-items: center;
  } 
}




.swiper {
  /* margin-left: 0; */
  margin-inline: 0;
  /* position: relative; */
  min-height: 200px;
  max-height: 679px;
  overflow: hidden;
  /* isolation: isolate; */
  flex: 0 1 645px;
}

.product__visual {
  position: absolute;
  /* max-width: 180px; */
  max-width: clamp(8.75rem, 6.712rem + 4.25vw, 11.25rem);
  /* width: 100%; */
  /* height: 284px; */
  max-height: clamp(12.5rem, 8.22rem + 8.92vw, 284px);
  top: 50%;
  left: 0%;
  transform: translate(-0%, -50%);
}

.product__media {
  position: relative;
  padding-left: 169px;
  /* width: 100%; */
}

@media (width <= 1110px) {
  .product__media {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }

  .product__visual {
    width: auto;
    max-width: none;
    max-height: none;
    position: static;
    flex: 0 0 clamp(140px, 16vw, 180px);
    transform: none;
  }

  .product__slide-img {
    flex: 0 1 544px;
  }

}



.product__protein {
  padding: clamp(20px, 0.537rem + 1.49vw, 34px)
    clamp(30px, 0.652rem + 2.55vw, 54px);
  background-color: var(--main-color);
}
.product__protein-accent {
  font-weight: 500;
  font-size: 30px;
  color: var(--bg-color);
  padding-left: 13px;
  margin-bottom: 3px;
}
.product__protein-text {
  font-family: var(--second-family);
  font-weight: 400;
  line-height: 1.69;
  color: var(--text-color);
}
.product__supplements {
  padding: clamp(20px, 0.537rem + 1.49vw, 34px)
    clamp(30px, 0.652rem + 2.55vw, 54px);
  background-color: var(--accent-color);
  color: var(--bg-color);
}
.product__supplements-accent {
  font-weight: 500;
  font-size: 30px;
  margin-bottom: 3px;
}
.product__supplements-text {
  font-family: var(--second-family);
  font-weight: 400;

  /* line-height: 27px; */
  line-height: 1.69;
}

.product__slide-img {
  width: 544px;
}

.product__button {
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: var(--accent-color);
  border-left: 4px solid var(--main-color);
  padding: 23px 61px;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background-color: var(--main-color);
  opacity: 1;
  color: transparent;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 75px;
  height: 75px;
  border: 5px solid var(--accent-color);
  background-color: transparent;
  color: var(--main-color);
  font-size: 21px;
  font-weight: 400;
  padding: 22px 0;
}

.product__pagination-list {
  position: absolute;

  top: 50%;
  right: 0;
  transform: translateY(-50%);

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  /* isolation: isolate; */
  z-index: var(--layer-1);
}

@media (width <= 1480px) {
  .swiper-pagination.product__pagination-list {
    flex-direction: row;
    left: 50%;
    top: auto;
    right: auto;
    bottom: 0;
    /* bottom: -50px; */
    transform: translateX(-50%);
  }
}

@media (width <= 1110px) {
  .product__pagination-list {
    display: none;
  }

  /* .swiper {
    height: 678px;
  } */
}


.product__slider-button {
  --icon-color: currentColor;
  transition: color var(--transition-time);
}


@media (any-hover: hover) {
  .product__slider-button:hover {
    color: var(--accent-color);
  }
}


.product__slider-button--next {
  transform: rotateY(180deg);
}


@media (width > 1110px) {
  .product__slider-button {
    display: none;
  }
}


