.programs {
  position: relative;
  overflow: hidden;
  isolation: isolate;
}

.programs::before {
  position: absolute;
  content: "";
  left: 50%;
  transform: translateX(-830px);
  top: 95px;
  /* width: clamp(260px, 40vw, 767px); */

  width: 767px;
  height: 767px;
  aspect-ratio: 1;
  z-index: var(--layer-negative);
  background: url("../../img/decor-dots.png") no-repeat center / contain;
}

@media (width <=1024px) {
  .programs::before {
    background: url("../../img/decor-dots.png") repeat center / contain;
    height: 100%;
  }
}

.programs::after {
  position: absolute;
  content: "WITH";
  /* right: clamp(-180px, -3vw, -46px); */
  left: 50%;
  /* right: auto; */
  top: -7%;
  transform: translateX(280px);
  font-weight: 600;
  /* font-size: clamp(112px, 19.2vw, 397px); */
  font-size: 397px;
  color: transparent;
  -webkit-text-stroke: 3px gray;
  /* line-height: 0.98; */
  z-index: var(--layer-negative);
}

.programs__container {
  padding-top: clamp(35px, 15.9px + 5.09vw, 103px);
  padding-bottom: clamp(50px, 25.84px + 6.44vw, 136px);
}

.programs__title {
  position: relative;
  z-index: var(--layer-1);
  margin-bottom: 15px;
  text-align: center;
}
.programs__subtitle {
  position: relative;
  z-index: var(--layer-1);
  text-align: center;
  font-family: var(--second-family);
  line-height: 1.69;
  text-align: center;
  color: var(--text-color);
  margin-bottom: 86px;
}
.programs__list {
  position: relative;
  z-index: var(--layer-1);
  display: flex;
  gap: clamp(28px, 2.65vw, 45px);
  justify-content: center;
  flex-wrap: wrap;
}

.programs__item {
  flex: 0 1 374px;
  /* isolation: isolate; */
}

.programs__link {
  display: block;
}

.programs__picture {
  position: relative;
  display: block;
  margin-bottom: 33px;
}
.programs__picture::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;

  background: var(--accent-color);
  opacity: 0;
  transition: opacity var(--transition-time) ease;
}

@media (any-hover: hover) {
  .programs__link:hover .programs__picture::before {
    opacity: 0.5;
  }
}

.programs__img {
  /* outline: 3px solid; */
  width: 100%;
}

.programs__meta {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
  font-family: var(--second-family);
  font-size: 20px;
  letter-spacing: 0.2em;
  color: var(--accent-color);
  margin-bottom: 4px;
}

.programs__meta-dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: var(--main-color);
}

.programs__name {
  margin-bottom: 24px;
}
.programs__bar {
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: var(--progress-bar);
  position: relative;
}

.programs__bar::before {
  content: "";
  position: absolute;
  left: 0;
  top: -3px;
  height: 8px;
  width: 100%;
  transform-origin: left;
  background-color: var(--accent-color);

  transform: scaleX(0);
  transition: transform var(--transition-long-time) ease-in;
}

@media (any-hover: hover) {
  .programs__link:hover .programs__bar::before {
    transform: scaleX(1);
  }
}

@media (width <= 768px) {
  .programs__subtitle {
    margin-bottom: 48px;
  }
}

.programs__timetable {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  gap: 28px;
  color: var(--bg-color);
  background-color: var(--accent-color);
  width: 100%;
  font-family: var(--second-family);
  padding: 43px;
  transition: color var(--transition-time);
}

.programs__arrow {
  color: var(--bg-color);
  transition: color var(--transition-time);
}

@media (any-hover: hover) {
  .programs__timetable:hover {
    color: var(--main-color);
  }
  .programs__timetable:hover
  .programs__arrow {
    color: var(--main-color);
  }
}
