
.socials__title {
  margin-bottom: 24px;
}
.socials__list {
  display: flex;
  gap: 45px;
}


.socials__link {
  transition: color var(--transition-time);
}

@media (any-hover: hover) {
  .socials__link:hover {
    color: var(--accent-color);
  }
}