:root {
  --container-width: 1920px;
}

.training {
}
.training__list {
  display: grid;
  /* grid-template-columns: repeat(auto-fit,  960px); */
  grid-template-columns: repeat(2, minmax(400px, 1fr));
}

@media (width <=1231px) {
  .training__list {
    grid-template-columns: 1fr;
  }
}

/* .training__item {
  max-height: 480px;
} */

.training__item .training__card {
}

.training__card {
  width: min(100%, 960px);
  display: flex;
  aspect-ratio: 2 / 1;
}

@media (width <=1231px) {
  .training__card {
    width: auto;
  }
}

.training__picture,
.training__card {
  flex: 0 0 50%;
}

.training__picture {
  position: relative;
  display: block;
  aspect-ratio: 1 / 1;
}

.training__picture::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  opacity: 0;
  transition: opacity var(--transition-time) ease;
}

@media (any-hover: hover) {
  .training__picture:hover::before {
    opacity: 0.6;
  }
}

.training__img {
  height: 100%;
  width: 100%;
}

.training__content {
  background-color: var(--bg-color-3);
  font-family: var(--second-family);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (width >1231px) {
  /* min-width 1231px max-width 1920px  */
  .training__content {
    padding-left: clamp(10px, -0.525rem + 4.91vw, 52px);
    padding-right: clamp(20px, -5.338rem + 8.56vw, 79px);
  }
}

@media (width <= 1231px) {
  /* min-width 375px  max-width 1231px  */
  .training__content {
    padding-left: clamp(0.625rem, -0.525rem + 4.91vw, 3.25rem);
    padding-right: clamp(1.25rem, -0.365rem + 6.89vw, 4.938rem);
  }
}

.training__label {
  color: var(--accent-color);
  font-size: 20px;
  letter-spacing: 0.2em;
  margin-bottom: 10px;
  display: block;
}
.training__title {
  margin-bottom: 10px;
}
.text-medium {
}
.training__text {
  --title-xs: clamp(18px, 0.704rem + 1.8vw, 42px);
  font-size: var(--title-xs);
  color: var(--text-color);
  line-height: 1.69;
  margin-bottom: clamp(10px, 0.527rem + 1.75vw, 30px);
  font-size: clamp(0.75rem, 0.64rem + 0.47vw, 1rem);
}
.text-regular {
}
.training__button {
  line-height: 1.44;
  letter-spacing: 0.1em;
}
.text-bold {
}
