:root {
  --container-width: 1920px;
}

.training {
}
.training__list {
  display: grid;
  /* grid-template-columns: repeat(auto-fit,  960px); */
  grid-template-columns: repeat(2, minmax(400px, 1fr));
}


@media (width <=933px) {
  .training__list {
    grid-template-columns: 1fr;
  }
}

@media (width <=768px) {
  .training__list {
    grid-template-columns: 1fr;
  }
}

.training__item {
  max-height: 480px;
}

.training__item .training__card {
}

.training__card {
  width: min(100%, 960px);
  display: flex;
  aspect-ratio: 2 / 1;
}

.training__picture,
.training__card {
  flex: 0 0 50%;
}

.training__picture {
  position: relative;
  display: block;
  aspect-ratio: 1 / 1;
}

.training__picture::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--accent-color);
  opacity: 0;
  transition: opacity var(--transition-time) ease;
}

@media (any-hover: hover) {
  .training__picture:hover::before {
    opacity: 0.6;
  }
}

.training__img {
  /* width: 100%; */
  height: 100%;
}

.training__content {
  padding-top: 128px;
  padding-top: clamp(29px, -2.354rem + 8.68vw, 129px);
  padding-right: clamp(39px, 0.771rem + 3.47vw, 79px);
  padding-bottom: clamp(20px, -3.292rem + 9.46vw, 129px);
  padding-left: clamp(20px, -0.083rem + 2.78vw, 52px);
  background-color: var(--bg-color-3);
  font-family: var(--second-family);
}
.training__label {
  color: var(--accent-color);
  font-size: 20px;
  letter-spacing: 0.2em;
  margin-bottom: 10px;
  display: block;
}
.training__title {
  margin-bottom: 10px;
}
.text-medium {
}
.training__text {
  color: var(--text-color);
  line-height: 1.69;
  margin-bottom: 30px;
}
.text-regular {
}
.training__button {
  line-height: 1.44;
  letter-spacing: 0.1em;
}
.text-bold {
}
