h1 {
    background: linear-gradient(to right, rgb(50, 50, 205), #44fe58 70%, white);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

h1:hover {
    opacity: 0;
}
