
:root {
    --general-text: #312c27;
    --accent-text: #1f1711;
    --general-bg: #fff9f4;
    --accent-bg: #FFE0CB;
    --accent-color: #ffa55c;
    --second-accent-color: #ceaad0;
    --transition: all .4s;
    --border-radius: 20px;
    --input: #ac907a;
    --second-family: 'Gabriola', sans-serif;

    --swiper-pagination-progressbar-bg-color: var(--accent-color);

    /* --akcentnyy: #ffa55c;
	--akcentnyy-2: var(--second-accent-color);
	--fonovyy: #ffe0cb;
	--fonovyy-svetlyy: #fff9f4;
	--zagolovochnyy: #1f1711;
	--nabornyy: #312c27;
	--fioletovyy: #704174;
	--disabled: #e1d9e1;
	--inputy:var(--input);; */
}

.body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    background: var(--general-bg);
    color: var(--general-text);
}

.body--opened-menu {
    overflow: hidden;
}

.body--opened-modal {
    overflow: hidden;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.main {
    flex-grow: 1;
}

.main__about {
    padding: 140px 0;
}

.main__program {
    padding-bottom: 140px;
}

.main__gallery {
    padding-bottom: 140px;
}


.container {
    max-width: 1310px;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-family: var(--second-family);
    font-size: 74px;
    line-height: 0.82;
    color: var(--accent-text);
}


.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 15px;
    width: 100%;
    /* max-width: 360px; */
    height: 62px;
    border-radius: 60px;
    background-color: var(--accent-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    transition: all .5s;
    width: 100%;
}

.button:hover {
    background: #ff9138;
}

.modal {
    position: fixed;
    inset: 0;
    z-index: 10;
    padding: 15px;

    background: #00000063;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: all .6s;
}

.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;
}


.modal__window {
    position: relative;
    background: var(--general-bg);
    border-radius: var(--border-radius);
    padding: 0px 60px 60px;
    max-height: 491px;
    max-width: 428px;
}

.modal__cancel {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
}

.modal__cancel rect,
.modal__cancel path {
    transition: var(--transition);
}

.modal__cancel:hover rect,
.modal__cancel:hover path {
    stroke: var(--input);
    ;
}

.modal__img {
    margin: -65px 48px 15px 12px;
}


.modal__title {
    font-size: 42px;
    line-height: 0.9;
}

.modal__text {
    margin: 10px 0 30px;
}



.modal__form-label {
    margin-bottom: 10px;
}


.field {
    position: relative;
    display: block;
}

.field span {
    position: absolute;
    left: 28px;
    top: 12px;
    color: var(--input);
    font-size: 12px;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}


.field__input {
    display: block;
    position: relative;
    width: 100%;
    height: 62px;
    border-radius: 60px;
    color: var(--input);
    background: transparent;
    border: 1px solid var(--input);
    padding: 19px 41px 19px 28px;
    font-size: 16px;
    transition: var(--transition);
}

.field__input:hover {
    border-color: var(--accent-color);
}


.field__input::placeholder {
    color: var(--input);
    transition: var(--transition);
}

.field__input:hover::placeholder {
    color: var(--accent-color);
}

.field__input:focus {
    padding: 26px 41px 12px 28px
}

.field__input:focus+span {
    opacity: 1;
    visibility: visible;
}

