
.header {
    background: url('../img/decor/header-bg.png') 50% 100% / cover no-repeat;
}


.header__top {
    padding-top: 19px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__logo {
    max-width: 174px;
    z-index: 12;
}

.header__logo img {
    width: 100%;
}


.nav__list {
    display: flex;
    flex-direction: row;
    gap: 5vh 40px;
}


.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
    transition: var(--transition);
}

.nav__link:hover {
    transform: scale(1.15);
}

.nav__link::before {
    display: block;
    position: absolute;
    top: -8px;
    left: -13px;
    z-index: -1;
    content: '';
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--accent-color);
    opacity: 0;
    transition: var(--transition);
}

.nav__link:hover::before {
    opacity: 1;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--general-text);
    transition: all .4s;
}



.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}

.header__hero {
    padding: 50px 0 140px;
}




.hero__inner {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 30px;
}

.hero__content {
    display: flex;
    flex-direction: column;
    max-width: 520px;
}

.hero__content .button {
    max-width: 360px;
}


.hero__info {
    line-height: 1.6;
    color: #b197b2;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    /* gap: 10px; */
    margin-bottom: 20px;
}

.hero__info span {
    display: flex;
    align-items: center;
}

.hero__info span::after {
    content: '';
    background: #b197b2;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: inline-block;
    margin: 0 10px;
}

.hero__info span:last-child::after {
    content: none;
}



.hero__text {
    max-width: 360px;
    margin: 30px 0 40px;
}




.hero__img {
    position: relative;
    margin-right: 247px;
}

.hero__img > img {
    width: 100%;
}



.hero__img-control {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 71.6%;
    left: 90%;
    height: 78px;
    max-width: 200px;
    text-align: left;
}

.hero__img-control--mobile {
    display: none;
}


.hero__img-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    min-width: 78px;
    min-height: 78px;
    border-radius: 50%;
    background: var(--accent-bg);
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
    padding: 20.8px;
    position: relative;

}

.hero__img-button img {
    padding-left: 10%;
}

.hero__img-button::before {
    content: '';
    position: absolute;
    inset: 5px;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    opacity: 0;
    transition: var(--transition);
}

.hero__img-button:hover::before {
    opacity: 1;
}

