@import "./base/reset.css";
@import "./base/fonts.css";
@import "./base/vars.css";
@import "./base/gobal.css";

.header {
  border-bottom: 1px solid
    color-mix(in srgb, var(--clr-fg, #0d3b3f) 10%, transparent);
  background-color: var(--cream-color);
}

.header__container {
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--accent-color);
  height: 100%;
}

.header__link {
  display: block;
  font-size: 24px;
  letter-spacing: -0.48px;
}

.header__nav {
  font-family: var(--second-family);
  color: #0d3b3f;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1.04px;
  text-transform: uppercase;
}


.main {
}
.hero {
  background-color: var(--cream-color);
}
.hero__container {
  padding-block: var(--section-gap);
}
.container {
}
.hero__benefits {
  text-transform: uppercase;
  color: var(--secondary-color);
  font-family: var(--second-family);
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.18em;
}
.hero__title {
  margin-top: 24px;
  margin-right: auto;

  line-height: 1;
  font-weight: 300;
  color: var(--accent-color);
  letter-spacing: -0.03em;
  font-size: clamp(3.5rem, 3.5rem + ((1vw - 0.2rem) * 6.667), 7.5rem);
}
.hero__title--accent {
  color: var(--secondary-color);
  font-style: italic;
}
.hero__text {
  max-width: 780px;
  margin-top: 24px;
  margin-right: auto;
  color: var(--text-color);
  font-family: var(--second-family);
}
.hero__button {
  margin-top: 24px;
  display: flex;
  justify-content: start;
}
.hero__link {
  text-transform: uppercase;
  font-family: var(--second-family);
  color: var(--cream-color);
  background-color: var(--accent-color);
  display: inline;
  padding: 12px 32px;
}

.services {
  
}
.services__container {
  padding-block: var(--section-gap);
}

.services__headline {
  text-transform: uppercase;
  font-family: var(--second-family);
  color: var(--accent-color);
  letter-spacing: 0.18em;
}

.services__list {
  margin-top: 1.5rem;
  display: flex;
  gap: 1.5rem;
  max-height: 302px;
}

@media (width <=768px) {
  .services__list {
    flex-direction: column;
    row-gap: 1.5rem;
  }
}

.services__item {
  background-color: var(--cream-color);
  padding: 3rem 2rem;
  border-inline-start: 4px solid transparent;
  flex-basis: 0;
  flex-grow: 1;
  height: fit-content;
  transition:
    transform var(--transition-time),
    box-shadow var(--transition-time),
    border-color var(--transition-time);
}

.services__item:hover {
  box-shadow: -20px 20px 60px #0d3b3f1a;
  transform: translateX(10px);
  border-color: var(--secondary-color);
}

.services__link {
  /* display: block; */
  /* height: 100%; */
}

.services__number {
  font-weight: 300;
  line-height: 1;
  opacity: 0.7;
  color: var(--text-decor-color);
}

.services__title {
  margin-top: 1.5rem;
  font-weight: 600;
  color: var(--accent-color);
  font-size: var(--font-size-xl);
  letter-spacing: -0.02em;
  line-height: 1.1;
}
.services__text {
  margin-top: 1.5rem;
  font-family: var(--second-family);
  color: var(--text-muted-color);
  font-size: clamp(1rem, 1rem + ((1vw - 0.2rem) * 0.105), 1.0625rem);
  line-height: 1.7;
}
