.page {
  font-family: var(--font-family);
  line-height: 1;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--bg-cream);
}

.container {
  width: min(var(--container-width), 100%);
  margin: auto;
}