@import 'fonts.css';
@import 'reset.css';
@import 'global.css';
@import 'footer.css';
@import 'header.css';




/* ================================== */
.power {
    position: relative;
    overflow: hidden;
}
.power__inner {
}


.power--bg {
    position: relative;
    z-index: 2;
}

.power--bg img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}




.power-intro {
    position: relative;
    z-index: 2;
    font-weight: 600;
    line-height: 0.98;
    max-height: 424px;
}

.power-intro--title {
    padding-top: 76px;
}

.power-intro__title {
    font-size: clamp(100px, 12vw, 198px);
    position: relative;
    height: 350px;
}



.power-intro__outline{
    position: absolute;
    top: 31.2%;
    right: -4%;
    font-size: clamp(100px, 22vw, 397px);
    color: transparent;
    -webkit-text-stroke: 1px #ffffff80;
    pointer-events: none;
}


/* 

.power-intro__outline{
    position: absolute;
    top: 9%;
    right: 8.9%;
    font-size: 397px;
    color: transparent;
    -webkit-text-stroke: 1px #ffffff80;
} */



.power-intro__label {
    position: absolute;
    left: 49.1%;
    top: 27.6%;
    z-index: 3;
}



.power-intro__img {
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.power-intro__img img {
    width: 100%;
    display: block;
    z-index: -1;
}



.benefits {
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    background-color:  var(--second-bg);
    height: 396px;
}
.benefits__item {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-right: 2px solid #000;
    padding: 56px 70px 55px 56px;
}
.benefits__subtitle {
    color:  #f47521;
    font-weight: 600;
    letter-spacing: 0.2em;
    font-family: var(--second-family);
}
.benefits__title {
    font-weight: 600;
    color:  #141414;
    font-size: 42px;
}
.benefits__action {
    padding-top: 176px;
    display: flex;
    justify-content: space-between;
}
.benefits__text {
    font-family: var(--second-family);
    font-weight: 700;
    line-height: 1.44;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #141414;
}

.benefits__arrow {

}

/* =================================== */


.marquee {
    background: var(--second-bg);
}
.marquee--main {
    padding: 35px 0;
}
.marquee__inner {
    display: flex;
    gap: 34px;
    justify-content: space-between;
    width: 100%;
}
.marquee__item {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 100px;
    color: #000;
    position: relative;
    animation: marquee 10s linear infinite;
}

.marquee__item  img {
    vertical-align: super;
}



@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}


/* .marquee__item::after {
    content: "";
    display: inline-flex;
    width: 14px;
    height: 14px;
    border-radius: 50px;
    background: var(--accent-color);
    position: absolute;
    transform: translateX(34px) translateY(-38px);
}
 */
