.page-hero {
  color: var(--accent-color);
}
.page-hero__container {
  width: min(calc(720px + var(--container-padding) * 2), 100%);
  font-size: var(--font-size-base);
}
.container {
}
.page-hero__title {
  margin-bottom: 2.5rem;
}
.hero__title {
}
.page-hero__content {
  font-family: var(--third-family);
  line-height: 1.8;
}

.page-hero__text {
  margin-top: 1.5rem;
}
.page-hero__quote {
  margin-top: 1.5rem;
  border-left: 4px solid var(--accent-color);
  padding-left: 17px;
}
.page-hero__link {
  text-decoration: underline;
  text-underline-offset: 0.15em;
}

@media (any-hover: hover) {
  .page-hero__link:hover {
    color: var(--secondary-color);
    text-decoration-color: var(--secondary-color);
  }
}

.footer.sample--page {
  margin-top: 1.5rem;
}
