
.footer {
    min-height: 253px;
    background: #ab8261;
    color: var(--general-bg);
    padding: 60px 0 30px;
}

.footer__inner {
    display: grid;
    gap: 40px 15px;
    grid-template-columns: .9fr .9fr 1.1fr auto;
    align-items: start;
}

.footer__col:first-child {
    margin-top: -30px;
}

.footer__logo {
    display: block;
    max-width: 240px;
}

.footer__logo img {
    width: 100%;
}

.footer__logo-text {
    margin-bottom: 20px;
}

.footer__col-list {
    margin-top: -5px;
}

.footer__col-item {
    margin-bottom: 10px;
}

.footer__col-item:last-child {
    margin-bottom: 0;
}

.footer__col-link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
    transition: var(--transition);
}


.footer__col-link::before {
    display: block;
    position: absolute;
    top: -8px;
    left: -13px;
    z-index: -1;
    content: '';
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--accent-color);
    opacity: 0;
    transition: var(--transition);
}

.footer__col-link:hover::before {
    opacity: 1;
}


.footer__contact-list img {
    padding-right: 8px;
}

.footer__contact-item:first-child {
    margin-bottom: 10px;
}

.footer__contact-item span {
    line-height: 1.6;
}


.footer__col-tel {
    margin-bottom: 47px;
}

.footer__col-number {
    display: block;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.6;
    transition: var(--transition);
}

.footer__col-number:hover {
    color: var(--accent-color);
}

.footer__col-copy {
    color: #dec5b1;
}


.socials__list {
    display: flex;
    gap: 15px;
}

.socials__items {}

.socials__link path {
    transition: var(--transition);
}

.socials__link:hover path {
    fill: var(--accent-color);
}


.socials__list {
    max-height: 36px;
}


