:root {
    --general-text: #312c27;
    --accent-text: #1f1711;
    --general-bg: #fff9f4;
    --accent-bg: #FFE0CB;
    --accent-color: #ffa55c;

    /* --akcentnyy: #ffa55c;
	--akcentnyy-2: #ceaad0;
	--fonovyy: #ffe0cb;
	--fonovyy-svetlyy: #fff9f4;
	--zagolovochnyy: #1f1711;
	--nabornyy: #312c27;
	--fioletovyy: #704174;
	--disabled: #e1d9e1;
	--inputy: #ac907a; */
}

.body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    background: var(--general-bg);
    color: var(--general-text);
}

.body--opened-menu {
    overflow: hidden;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}


.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 15px;

    max-width: 360px;
    height: 62px;
    border-radius: 60px;
    background-color: var(--accent-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    transition: all .5s;
    width: 100%;
}

.button:hover {
    background: #ff9138;
}


/* ===================================== */

.header {
    background: url('../img/decor/header-bg.png') 50% 100% / cover no-repeat;
}


.header__top {
    padding-top: 19px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__logo {
    max-width: 174px;
    z-index: 12;
}

.header__logo img {
    width: 100%;
}


.nav__list {
    display: flex;
    flex-direction: row;
    gap: 5vh 40px;
}


.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
    transition: all .4s;
}

.nav__link:hover {
    transform: scale(1.15);
}

.nav__link::before {
    display: block;
    position: absolute;
    top: -8px;
    left: -13px;
    z-index: -1;
    content: '';
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background: var(--accent-color);
    opacity: 0;
    transition: all .4s;
}

.nav__link:hover::before {
    opacity: 1;
}

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--general-text);
    transition: all  .4s;
}



.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}
.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(45deg);
} 
.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(-45deg);
}



/* ================================================== */

.hero {
    padding: 50px 0 140px;
}

.hero__inner {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 30px;
}

.hero__content {
    display: flex;
    flex-direction: column;
    max-width: 520px;
}

.hero__info {
    line-height: 1.6;
    color: #b197b2;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    /* gap: 10px; */
    margin-bottom: 20px;
}

.hero__info span {
    display: flex;
    align-items: center;
}

.hero__info span::after {
    content: '';
    background: #b197b2;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: inline-block;
    margin: 0 10px;
}

.hero__info span:last-child::after {
    content: none;
}

.hero__title {
    font-family: 'Gabriola', sans-serif;
    font-size: 74px;
    line-height: 0.82;
    margin-bottom: 30px;
}

.hero__text {
    max-width: 360px;
    margin-bottom: 40px;
}



.hero__img {
    position: relative;
    margin-right: 247px;
}

.hero__img img {
    width: 100%;
}



.hero__img-control {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 71.6%;
    left: 90%;
    height: 78px;
    max-width: 200px;
    text-align: left;
}

.hero__img-control--mobile {
    display: none;
}


.hero__img-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    min-width: 78px;
    min-height: 78px;
    border-radius: 50%;
    background: var(--accent-bg);
    box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
    padding: 20.8px;
    position: relative;
    
}

.hero__img-button img {
    padding-left: 10%;
}

.hero__img-button::before {
    content: '';
    position: absolute;
    inset: 5px;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    opacity: 0;
    transition: all .4s;
}

.hero__img-button:hover::before {
    opacity: 1;
}




/* ================================================= */
.about {}

.about__inner {
    display: flex;
    gap: 53px;
    margin: 140px 0px;
}

/* .about__img  img {
    border-radius: 20px;
    position: relative;
}

.about__recipe {
    position: absolute;
    height: 108px;
    width: 300px;
    background: #957b97e6;;
} */



.about__info {}

.about__title {
    font-family: 'Gabriola', sans-serif;
    font-size: 74px;
    line-height: 0.82;
}

.about__subtitle {
    margin-bottom: 30px;
}

.about__text {
    margin-bottom: 40px;
}

.about__list {
    display: grid;
    grid-template-columns: repeat(2, 296px);
    grid-template-rows: repeat(2, 130px);
    gap: 32px;
}

.about__item {
    padding: 29px 24.5px;
    display: flex;
    align-items: center;
    gap: 15px;
    background: var(--accent-bg);
    border-radius: 20px;
}

.img__wrap {
    flex-shrink: 0;
    border: 1px solid var(--general-text);
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.about__item img {
    padding: 18px;
}



/* ================================================= */

@media (max-width: 1200px) {
    
    .hero__img {
        margin: 0;
        max-width: 377px;
    }

    .hero__img-control {
    position: static;
    max-width: none;
    margin-top: 30px;
    }

}

@media (max-width: 900px) {
    .nav {
        position: fixed;
        inset: 0;
        background: var(--general-bg);
        z-index: 10;
        padding: 26vh 15px 30px;
        font-size: 24px;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .5s;
    }
    
    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        opacity: 1;
        transform: translateY(0%);
        visibility: visible;
        
    }

    .burger-icon {
        display: flex;
    }
}

@media (max-width: 800px) {
    


    .hero__content {
        display: flex;
        max-width: none;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .hero__img-control--mobile {
        display: flex;
        margin: 0 0 30px;
    }

    .hero__img {
        display: none;
    }

    .about__info {
        display: flex;
        max-width: none;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .about__picture {
        display: none;
    }

}


@media (max-width: 600px) {
    .hero {
        padding-bottom: 80px;
    }
    .hero__title {
        font-size: 12vw;
    }

    .about__title {
        font-style: 12px;
    }
} 